{% extends 'base.html.twig' %}

{% block title %}Fiche des catégories !{% endblock %}

{% block body %}

<h1 class="text-center pt-2">Fiche catégorie numéro {{laCategorie.id}}</h1>

<div class="row">
        <div class="card mb-3 container">
            <h5 class="card-header">{{laCategorie.libelle}}</h5>
            <div class="row">
                <div class="col-2 d-flex align-items-center">
                    <img class="avatar mx-auto my-2" style="height: auto; max-width: 200px; display: block;" src="{{asset(laCategorie.image)}}" alt="Card image">
                </div>
                <div class="col-10">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{laCategorie.description}}</li>
                    </ul>
                </div>
            </div> 
        </div>
                <a href="{{path('categories')}}" class="btn btn-primary text-center">Revenir a la liste !</a>
                <hr>

                <div class="row">
                    {% for leContact in laCategorie.contacts %}
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">
                        <div class="card mb-3">
                            <h5 class="card-header">{{leContact.nom}} {{leContact.prenom}}</h5>
                            <img class="avatar mx-auto my-2" style="height: auto; max-width: 200px; display: block;" src="{{ leContact.avatar}}" alt="Card image">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{leContact.rue}}</li>
                                <li class="list-group-item">{{leContact.cp}}</li>
                                <li class="list-group-item">{{leContact.ville}}</li>
                                <li class="list-group-item">{{leContact.mail}}</li>
                                <li class="list-group-item">
                                {% if leContact.sexe ==0 %}
                                    <span class="badge badge-info">homme</span>
                                {% else %}
                                    <span class="badge badge-info">femme</span>
                                {% endif %}
                                </li>
                                <li class="list-group-item"><a href="{{path('ficheCategorie', {'id' : leContact.categorie.id})}}+">{{leContact.categorie.libelle}}</a></li>
                                
                            </ul>
                            <div class="card-body">
                                <a href="{{path('ficheContact', {'id' : leContact.id})}}" class="btn btn-success btn-block text-center">More info</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                </div>

{% endblock %}

